@font-face {
  font-family: 'udc-bold';
  src: url(https://pig-imgs.inairdrop.top/static/font/UDC1.04-Bold.otf);
}
.font-udc-bold {
  font-family: 'udc-bold';
}

@font-face {
  font-family: 'udc-medium';
  src: url(https://pig-imgs.inairdrop.top/static/font/UDC1.04-Medium.otf);
}
.font-udc-medium {
  font-family: 'udc-medium';
}

@font-face {
  font-family: 'udc-light';
  src: url(https://pig-imgs.inairdrop.top/static/font/UDC1.04-Light.otf);
}
.font-udc-light {
  font-family: 'udc-light';
}
