.com-pop-page {
  position: fixed;
  z-index: $popup-zindex;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;

  .bg {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(#111, 0.8) 0%, rgba(#111, 0.65) 100%);
    animation: com-pop-page-box 0.3s ease-out forwards;
    opacity: 0;

    @keyframes com-pop-page-box {
      100% {
        opacity: 1;
      }
    }
  }

  .box-wrapper {
    width: 100%;
    position: relative;
    z-index: 2;
  }

  .box-wrapper-header {
    position: relative;
    z-index: 0;
    animation: com-pop-page-box 0.4s 0.2s ease-out forwards;
    opacity: 0;

    .title {
      display: block;
      font-size: 42px;
      color: $color-title;
      font-weight: bold;
      line-height: 1.5;
      box-sizing: border-box;
      padding: 0 0 0 24px;
    }

    .btn-close {
      position: absolute;
      z-index: 0;
      right: 0;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      text-align: center;
      font-size: 32px;
      font-weight: normal;
      line-height: 80px;
      padding: 0 24px;
      display: block;
      .base-icon {
        color: $color-secondary;
      }
    }
  }

  .box {
    position: relative;
    z-index: 1;
    background: #fff;
    box-shadow: 0px 25px 20px rgba(195, 186, 186, 0.09);
    border-radius: 32px 32px 0 0;
    padding: 32px 0;
    opacity: 0;
    transform: translate3d(0, 15%, 0);
    animation: com-pop-page-box-show 0.3s 0.2s ease-out forwards;

    @keyframes com-pop-page-box-show {
      70% {
        opacity: 1;
      }

      100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }

  .com-pop-page-section-title {
    font-size: 28px;
    color: $color-secondary;
    font-weight: normal;
    line-height: 1.5;
    padding: 0 40px;
  }

  &.fade-leave-active {
    animation: com-pop-page-active 0.6s;
    .bg {
      opacity: 1;
      animation: com-pop-page-leave 0.3s 0.3s ease-in forwards;
      @keyframes com-pop-page-leave {
        100% {
          opacity: 0;
        }
      }
    }

    .box-wrapper-header {
      animation: com-pop-page-leave-header 0.4s ease-in forwards;
      opacity: 1;
      @keyframes com-pop-page-leave-header {
        100% {
          opacity: 0;
        }
      }
    }
    .box {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      animation: com-pop-page-leave-box 0.4s ease-in forwards;
      @keyframes com-pop-page-leave-box {
        0% {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        50% {
          opacity: 1;
          transform: translate3d(0, -5px, 0);
        }
        75% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          transform: translate3d(0, 30px, 0);
        }
      }
    }
  }
  @keyframes com-pop-page-active {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}
